// Border radius

$border-top-radius()
    border-top-left-radius arguments
    border-top-right-radius arguments

$border-right-radius()
    border-top-right-radius arguments
    border-bottom-right-radius arguments

$border-bottom-radius()
    border-bottom-left-radius arguments
    border-bottom-right-radius arguments

$border-left-radius()
    border-top-left-radius arguments
    border-bottom-left-radius arguments
