// Buttons

$btn-brand($border-color, $bg-color, $text-color)
    border-color $border-color
    background-color $bg-color
    color $text-color

    &:hover,
    &:focus
        border-color darken($border-color, 20%)
        background-color darken($bg-color, 15%)
        color $text-color

    &:active,
    &.active
        border-color darken($border-color, 20%)
        background-color darken($bg-color, 25%)
        color $text-color

    &.disabled,
    &[disabled]
        border-color $border-color
        background-color $bg-color
        color $text-color

$btn-size($border-radius, $padding-vertical, $padding-horizontal, $font-size, $line-height)
    border-radius $border-radius
    padding $padding-vertical $padding-horizontal
    font-size $font-size
    line-height $line-height
