// Input controls


$input-focus($border-color-focus, $show-outline)
    border-color $border-color-focus

    if $show-outline
        $shadow-color = rgba(red($border-color-focus), green($border-color-focus), blue($border-color-focus), 0.6)
        $box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $shadow-color
    else
        $box-shadow none

$input-brand($border-color, $border-color-focus, $bg-color, $text-color)
    border-color $border-color
    background-color $bg-color
    color $text-color

    &:focus
        $input-focus $border-color-focus, true

    &.readonly,
    &[readonly]
        &:focus
            $input-focus $border-color, false

$input-size($border-radius, $padding-vertical, $padding-horizontal, $width, $height, $font-size, $line-height)
    border-radius $border-radius
    padding $padding-vertical $padding-horizontal
    width $width
    height $height
    font-size $font-size
    line-height $line-height
