<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>tree view</title>
    <link rel="Stylesheet" href="../dist/css/rui.css" />
    <script type="text/javascript" src="./js/react.js"></script>
    <script type="text/javascript" src="./js/JSXTransformer.js"></script>
    <script type="text/javascript" src="../dist/js/rui.js"></script>
</head>
<body>
<div id="container" class="container"></div>
<script type="text/jsx">
    var Menu = rui.Menu,
        MenuItem = rui.MenuItem,
        MenuDivider = rui.MenuDivider,
        App;

    App = React.createClass({
        getInitialState: function () {
            return {
                showMenu: false
            }
        },

        render: function () {
            return (
                <div onMouseDown={this.handleMouseDown}>
                    <div style={{width:"500px", height:"500px", border:"1px solid #000", textAlign:"center", lineHeight:"500px"}} onContextMenu={this.handleContextMenu}>Right click here</div>
                    <Menu ref="menu" defaultVisible={this.state.showMenu} defaultLeft={this.state.menuPosLeft} defaultTop={this.state.menuPosTop} onItemClick={this.handleMenuItemClick}>
                        <MenuItem name="new" text="New" />
                        <MenuItem name="open" text="Open..." />
                        <MenuDivider />
                        <MenuItem name="cut" text="Cut" />
                        <MenuItem name="copy" text="Copy" />
                        <MenuItem name="paste" text="Paste" />
                    </Menu>
                </div>
            );
        },

        handleMouseDown: function () {
            this.refs.menu.close();
        },

        handleContextMenu: function (event) {
            this.refs.menu.popup({
                left: event.pageX,
                top: event.pageY
            });
            event.preventDefault();
        },

        handleMenuItemClick: function (sender, args) {
            var menuItem = args.item;
            console.log("name:%s, text:%s", menuItem.props.name, menuItem.props.text);
        }
    });
    rui.render(<App />, 'container');
</script>
</body>
</html>
