// Button Group

.btn-group
    position relative
    display inline-block
    margin 0 auto
    //border-radius $btn-border-radius

    > .btn
        position relative
        z-index 1

        &:hover,
        &:focus
            z-index 2

        &:active,
        &.active
            z-index 0

    > .btn:not(:first-child):not(:last-child)
        border-radius 0

    > .btn:first-child
        $border-right-radius 0

    > .btn:last-child
        $border-left-radius 0

    .btn + .btn
        margin-left -1px

.rdo + .btn-group,
.input + .btn-group,
.btn + .btn-group,
.btn-group + .btn-group,
.chk + .btn-group,
.switch + .btn-group
    margin-left 5px

.btn-group-lg
    //border-radius $btn-border-radius-lg

    > .btn
        $btn-size $btn-border-radius-lg, $btn-padding-vertical-lg, $btn-padding-horizontal-lg, $btn-font-size-lg, $btn-line-height-lg

.btn-group-sm
    //border-radius $btn-border-radius-sm

    > .btn
        $btn-size $btn-border-radius-sm, $btn-padding-vertical-sm, $btn-padding-horizontal-sm, $btn-font-size-sm, $btn-line-height-sm

.btn-group-xs
    //border-radius $btn-border-radius-xs

    > .btn
        $btn-size $btn-border-radius-xs, $btn-padding-vertical-xs, $btn-padding-horizontal-xs, $btn-font-size-xs, $btn-line-height-xs
    

