// Buttons

.btn
    display inline-block
    text-align center
    vertical-align middle
    outline none
    cursor pointer
    background-image none
    text-decoration none
    margin 0
    border-width 1px
    border-style solid
    $btn-size $btn-border-radius, $btn-padding-vertical, $btn-padding-horizontal, $btn-font-size, $btn-line-height

    &:hover,
    &:focus
        text-decoration none

    &.active,
    &:active
        box-shadow inset 0 3px 5px rgba(0,0,0,.125)

    &.disabled,
    &[disabled]
        cursor default
        $opacity 0.5

.btn + .btn,
.btn-group + .btn,
.input + .btn,
.chk + .btn,
.rdo + .btn,
.switch + .btn
    margin-left 5px

.btn-default
    $btn-brand $btn-border-color, $btn-bg-color, $btn-text-color

.btn-primary
    $btn-brand $btn-border-color-primary, $btn-bg-color-primary, $btn-text-color-primary

.btn-success
    $btn-brand $btn-border-color-success, $btn-bg-color-success, $btn-text-color-success

.btn-warning
    $btn-brand $btn-border-color-warning, $btn-bg-color-warning, $btn-text-color-warning

.btn-danger
    $btn-brand $btn-border-color-danger, $btn-bg-color-danger, $btn-text-color-danger

.btn-lg
    $btn-size $btn-border-radius-lg, $btn-padding-vertical-lg, $btn-padding-horizontal-lg, $btn-font-size-lg, $btn-line-height-lg

.btn-sm
    $btn-size $btn-border-radius-sm, $btn-padding-vertical-sm, $btn-padding-horizontal-sm, $btn-font-size-sm, $btn-line-height-sm

.btn-xs
    $btn-size $btn-border-radius-xs, $btn-padding-vertical-xs, $btn-padding-horizontal-xs, $btn-font-size-xs, $btn-line-height-xs

