// Checkbox

.chk
    display inline-block

    &,
    input[type="checkbox"],
    .chk-text
        cursor pointer

    .chk-text
        padding-left 5px
        padding-right 5px

.chk-readonly,
.chk-disabled
    &,
    input[type="checkbox"],
    .chk-text
        cursor default

.chk-disabled
    .chk-text
        color $text-color-disabled

.chk + .chk,
.input + .chk,
.btn + .chk,
.btn-group + .chk,
.rdo + .chk,
.switch + .chk
    margin-left 5px
