// Form

.form
    padding 0

.form-title
    font-size $font-size-base * 1.5
    line-height $line-height-base * 2
    margin-bottom $line-height-base


.form-group
    padding-bottom: $form-group-space-height

    .form-label
        float left
        width $form-label-width
        text-align right
        padding-top 10px
        font-size 1em
        line-height 1

    .form-controls
        $clearfix()
        margin-left $form-label-width
        padding-left 10px

    .input,
    .sel
        vertical-align top

    .switch
        margin-top 5px
        margin-bottom 4px
        vertical-align top

    .chk
        margin-top 4px
        margin-bottom 3px

    .chk-list
        padding-top 4px

        .chk
            margin-top: 0;

    .form-control
        $clearfix()
        clear both
        padding-bottom $form-group-space-height

    .form-help-text
        line-height 30px
        vertical-align top
        color $text-color-disabled

.form-narrow-label .form-group
    .form-label
        width $form-narrow-label-width

    .form-controls
        margin-left $form-narrow-label-width

// stacked form group
.form-stacked-label .form-group,
.form-group-stacked
    .form-label
        float none
        width auto
        display block
        padding-top 0
        margin-top $space-base * 2
        margin-bottom $space-base
        height $line-height-base
        overflow visible
        text-align left

    .form-controls
        margin-left 0
        padding-left 0

// inline form group
.form-group-inline
    display inline-block
    margin-left 10px
    vertical-align top

.form-group-first
    margin-left 0

.form-group-compact
    .form-label
        width auto

    .form-controls
        display inline-block
        margin-left 0

.form-group-nolabel
    .form-label
        display none

// form divider
.form-divider
    border none
    border-top 1px solid $form-divider-color
    margin: $form-group-space-height 0 ($form-group-space-height * 2)

// styles of form actions
.form-actions
    $clearfix()
    padding-top $form-group-space-height
    padding-left $form-label-width + 10px

.form-narrow-label .form-actions
    padding-left: $form-narrow-label-width + 10px

.form-stacked-label .form-actions
    padding-left 0

.form-actions-align-left
    padding-left 0

.form-actions-align-right
    padding-left 0
    text-align right

.form-actions-align-center
    padding-left 0
    text-align center

