// Input Controls

.input
    -webkit-appearance none
    outline none
    background-image none
    vertical-align middle
    margin 0
    border-width 1px
    border-style solid

    $input-brand $input-border-color, $input-border-color-focus, $input-bg-color, $input-text-color
    $input-size $input-border-radius, $input-padding-vertical, $input-padding-horizontal, $input-width, $input-height, $input-font-size, $input-line-height

    &.disabled,
    &[disabled]
        border-color $input-border-color-disabled
        background-color $input-bg-color-disabled
        color $input-text-color-disabled

.input + .input,
.btn + .input,
.btn-group + .input,
.chk + .input,
.rdo + .input,
.switch + .input
    margin-left 5px

.input-lg
    $input-size $input-border-radius-lg, $input-padding-vertical-lg, $input-padding-horizontal-lg, $input-width-lg, $input-height-lg, $input-font-size-lg, $input-line-height-lg

.input-sm
    $input-size $input-border-radius-sm, $input-padding-vertical-sm, $input-padding-horizontal-sm, $input-width-sm, $input-height-sm, $input-font-size-sm, $input-line-height-sm
