// Menu

.menu
    position absolute
    z-index 2400
    left 0
    top 0
    float left
    border 1px solid $menu-border-color
    background $menu-bg-color
    $box-shadow 0px 2px 4px rgba(0,0,0,.2)

.menu-items
    margin 0
    padding 0
    list-style none

.menu-item
    line-height $menu-item-height

    a
        display block
        padding 0 40px 0 5px
        text-decoration none
        font-size 12px
        color $menu-text-color
        cursor pointer

        i
            display inline-block
            width 18px
            height 18px
            vertical-align middle
            margin-right 5px

        &:hover
            color $menu-text-color-hover
            background-color $menu-bg-color-hover

.menu-divider
    border-top 1px solid $menu-divider-color
    height 0
    line-height 0
    margin ($menu-divider-height / 2) 0

.menu-dark
    background $menu-dark-bg-color
    border-color $menu-dark-border-color

    .menu-item
        a
            color $menu-dark-text-color
            background-color $menu-dark-bg-color

            &:hover
                color $menu-dark-text-color-hover
                background-color $menu-dark-bg-color-hover

    .menu-divider
        border-color $menu-dark-divider-color
