// Modal

.modal-dialog
    position absolute
    z-index 2300
    top 0
    left 0
    background #fff
    border-radius 5px
    $box-shadow 0 0 10px rgba(0, 0, 0, 0.5)

    &:focus
        outline none

.modal-header
    border-bottom 1px solid #e4e4e4
    padding 5px 5px 5px 10px
    height 25px

    .close
        display inline-block
        cursor pointer
        float right
        margin 0
        padding 0
        border none
        color $text-color
        font-weight bold
        width 25px
        line-height 25px
        height 25px
        background transparent

    .modal-title
        cursor default
        margin 0
        padding 0
        line-height 25px
        font-size 16px

.modal-body
    padding 10px

.modal-footer
    margin 0
    padding 10px
    background #e4e4e4
    border-radius 0 0 5px 5px


.modal-body
    .form-modal
        .form-actions
            margin-left -10px
            margin-right -10px
            margin-bottom -10px
            padding-top 10px
            padding-right 10px
            padding-bottom 10px
            padding-left $form-label-width + 20px
            background #e4e4e4
            border-radius 0 0 5px 5px

        .form-actions-align-left,
        .form-actions-align-center,
        .form-actions-align-right
            padding-left 10px

        &.form-narrow-label
            .form-actions
                padding-left $form-narrow-label-width + 20px

        &.form-stacked-label
            .form-actions
                padding-left 10px

