// Nav Bar

.nav-bar
    $clearfix()
    background $nav-bar-bg-color
    border 1px solid $nav-bar-border-color
    height 42px
    line-height 42px

    .nav-list li
        float left

        a
            display block
            padding 0 15px
            font-size 14px
            line-height 42px

.top-nav-bar
    border-radius none
    border-width 0 0 1px

.top-nav-bar-fixed
    position fixed

.nav-bar-brand
    display block
    float left
    padding 0 15px
    color $link-color
    font-size 20px
    line-height 42px

    &:hover
        text-decoration none
