// Nav

.nav-list
    list-style none
    margin 0
    padding 0

    li a
        display block
        color $text-color

        &:hover
            text-decoration none
            background-color $nav-bar-bg-color-hover

        &.active
            background-color $nav-bar-bg-color-active
