// Progress Bar

.progress-bar
    overflow hidden

    .progress-bar-bg,
    .progress-bar-done,
    .progress-bar-text
        border-radius 2px
        font-size 12px
        text-align center

    .progress-bar-bg
        border 1px solid $progress-bar-border-color
        color $brand-primary
        line-height $progress-bar-height - 2px
        height $progress-bar-height - 2px

    .progress-bar-inner
        margin-top 0 - $progress-bar-height
        height $progress-bar-height
        line-height $progress-bar-height
        width 100%
        overflow hidden

    .progress-bar-done
        background-color $brand-primary
        height $progress-bar-height

    .progress-bar-text
        margin-top 0 - $progress-bar-height
        width 100%
        color #fff


