// Radiobox

.rdo
    display inline-block

    &,
    input[type="radio"],
    .rdo-text
        cursor pointer

    .rdo-text
        padding-left 5px
        padding-right 5px

.rdo-readonly,
.rdo-disabled
    &,
    input[type="radio"],
    .rdo-text
        cursor default

.rdo-disabled
    .rdo-text
        color $text-color-disabled

.rdo + .rdo,
.input + .rdo,
.btn + .rdo,
.btn-group + .rdo,
.chk + .rdo,
.switch + .rdo
    margin-left 5px
