// Switch

.switch
    display inline-block
    width $switch-width
    height $switch-height
    overflow hidden
    line-height $switch-height - 2px

    a
        display inline-block
        width $switch-width * 2 - $switch-height

    .switch-on,
    .switch-off
        display inline-block
        border 1px solid $brand-primary
        border-radius 2px
        width $switch-width - $switch-height - 2px
        text-align center
        font-size 12px
        line-height $switch-height - 4px;
        vertical-align middle
        cursor pointer

    .switch-on
        display none

    .switch-off
        border 1px solid #b4b4b4
        margin-left -4px
        padding-left 4px
        background #e1e1e1
        color #9d9d9d

    .switch-btn
        position relative
        display inline-block
        width $switch-height - 2px
        height $switch-height - 2px
        border 1px solid #b4b4b4
        border-radius 4px
        margin-left 0
        background #fff
        vertical-align middle
        cursor pointer

.switch-checked
    .switch-on
        display inline-block
        background lighten($brand-primary, 10%)
        color #fff
        padding-right 4px

    .switch-btn
        margin-left -4px

    .switch-off
        display none

.rdo + .switch,
.input + .switch,
.btn + .switch,
.chk + .switch,
.switch + .switch
    margin-left 5px
