// Tree

.tree-view
    overflow auto
    padding-bottom 16px

.tree-node
    display table
    width 100%
    overflow visible

.tree-node-body
    display block
    white-space nowrap
    padding 3px 5px 3px 5px
    cursor default
    overflow visible
    line-height 18px

.tree-node-body:hover,
.tree-node-body-hover
    background $tree-node-bg-color-hover

.tree-node-body-top-hide
    display none

.tree-node-body-active,
.tree-node-body-active:hover,
.tree-node-body-active.tree-node-body-hover
    background $tree-node-bg-color-active

.tree-node-indents,
.tree-node-indent,
.tree-node-expander,
.tree-node-content,
.tree-node-checkbox,
.tree-node-icon,
.tree-node-label
    display inline-block
    vertical-align top

.tree-node-indent,
.tree-node-expander,
.tree-node-checkbox,
.tree-node-icon
    width 18px
    height 18px

.tree-node-expander
    cursor pointer
    text-align center

.tree-node-body-collapsed .tree-node-expander
    cursor pointer

.tree-node-body-leaf .tree-node-expander
    cursor default

.tree-node-label
    padding-left 5px

.tree-node-children
    overflow visible

.tree-node-children-collapsed
    display none
