@import "variables.styl"

body
    background-color $body-bg-color
    color $text-color

a
    color $link-color

.container
    margin 0 auto
    width 960px

.pull-left
    float left

.pull-right
    float right
